#project-card{
    background: #1E293B;
}

#title{
     font-size: 24px;
}

.icon-box{
    width: 65px;
    height: 60px;
    border: 1px solid #334155;
    background-color:  rgba(59, 130, 246, 0.15);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description{
    line-height: 1.7;
}