#skills {
    border-top: 1px solid #334155;
    padding-top: 4rem;
    background-color: #162033; 
    padding:  0;
}

#card-body{
    min-height: 16rem;
    background: #1E293B;
}
#card-body li{
    white-space: nowrap;
}
#card-title{
    font-size: 20px;
}

li::marker {
    color: #3B82F6;
}